.header {
  height: 55px;
  background-color: #fdd670;
  border-bottom: 1px solid #dfb547;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  margin: 0 auto;
  z-index: 5;
}

.header .nav-wrapper {
  width: 100%;
}

.header .top-nav-hamburgerToinput-wrapper {
  width: 100%;
}

.header .hamburger-btn {
  border: 0;
  outline: 0;
  background: 0 0;
  padding: 10px;
  margin-left: 10px;
  border-radius: 2px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.header .hamburger-btn:hover {
  background-color: #eeb529;
}

.header .hamburger-btn .menu-icon {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .logo-wrapper {
  padding-left: 12px;
  padding-right: 18px;
}

.header .logo-wrapper .header-logo {
  width: 125px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .search-input-wrapper {
  width: 100%;
  padding: 0 10px;
}

.header .search-input-wrapper .search-input-div {
  position: relative;
}

.header .search-input-wrapper .search-input-div .search-input {
  padding: 0 0 0 12px;
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 3px;
  border: #fff;
  position: relative;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header .search-input-wrapper .search-input-div .search-btn {
  border: 0;
  outline: 0;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header .search-input-wrapper .search-input-div .search-btn i {
  font-size: 18px;
  color: #7a7a7a;
}

.header .top-nav-btn-wrapper {
  width: 410px;
}

.header .top-nav-btn {
  border-left: 1px solid #ecc766;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  cursor: pointer;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.header .top-nav-btn:hover {
  background-color: #eeb529;
}

.header .top-nav-btn .area-name,
.header .top-nav-btn .help-btn-text {
  padding-right: 5px;
  padding-left: 10px;
  font-weight: 700;
  font-size: 14px;
  margin-top: -2px;
}

.header .top-nav-btn .fa-angle-down {
  font-size: 15px;
}

.header .lang-switch:hover {
  background-color: transparent;
}

.header .lang-switch p {
  font-weight: 700;
  font-size: 14px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.header .lang-switch p:hover {
  color: #ff686e;
}

.header .lang-switch p.active {
  color: #ff686e;
}

.header .signin-wrapper {
  width: 150px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .signin-wrapper .signin-btn {
  border: 0;
  outline: 0;
  background: #ff686e;
  width: 100%;
  height: 100%;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.header .signin-wrapper .signin-btn:hover {
  background-color: #e04f54;
}

.side-menu {
  width: 220px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #ccc;
  position: fixed;
  top: 55px;
  left: 0;
  z-index: 3;
  overflow-y: auto;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  will-change: left;
}

.side-menu::-webkit-scrollbar {
  width: 3px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #888;
}

.side-menu::-webkit-scrollbar-track {
  background: #e6e6e6;
}

.side-menu .menu-wrapper .store-menu {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-menu .menu-wrapper .store-menu .store-btn {
  border: 0;
  outline: 0;
  width: 50%;
  padding: 10px 5px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ff686e;
  padding-left: 5px;
  font-size: 12px;
  font-weight: 600;
}

.side-menu .menu-wrapper .store-menu .store-btn span {
  padding-left: 5px;
}

.side-menu .menu-wrapper .store-menu .store-btn img {
  width: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.side-menu .menu-wrapper .store-menu .grocery-btn {
  background-color: #ff686e;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.side-menu .menu-wrapper .store-menu .pharmacy-btn {
  background-color: #fff;
  color: #333;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.side-menu .menu-wrapper .misc-menu ul {
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.side-menu .menu-wrapper .misc-menu ul li a {
  padding: 5px 0 5px 10px;
  display: block;
  text-decoration: none;
  font-size: 13px;
  color: #000;
  letter-spacing: 0.1px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  line-height: normal;
}

.side-menu .menu-wrapper .misc-menu ul li a:hover {
  background: #e1e1e1;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #fff), to(#ccc));
  background: linear-gradient(to right, #fff 0, #ccc 100%);
}

.side-menu .menu-wrapper .misc-menu ul li a .badge-count {
  padding: 2px 5px;
  color: #ff686e;
  font-weight: 700;
  border: 1px solid #ff686e;
  margin-left: 5px;
  font-size: 0.8em;
  border-radius: 3px;
  background: #fff;
}

.side-menu .menu-wrapper .side-menu-category ul {
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.side-menu .menu-wrapper .side-menu-category ul li img {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  -o-object-fit: cover;
     object-fit: cover;
}

.side-menu .menu-wrapper .side-menu-category ul li a {
  padding: 5px 0 5px 10px;
  display: block;
  text-decoration: none;
  font-size: 13px;
  color: #000;
  letter-spacing: 0.1px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  line-height: normal;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-menu .menu-wrapper .side-menu-category ul li a:hover {
  background: #e1e1e1;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #fff), to(#ccc));
  background: linear-gradient(to right, #fff 0, #ccc 100%);
}

.side-menu .menu-wrapper .side-menu-category ul li a .navIcon {
  margin-right: 9px;
  font-size: 10px;
  color: #666;
}

.side-menu.menu-active {
  left: -285px;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sideMenu-wrapper {
  width: 220px;
  position: relative;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.sideMenu-wrapper.menu-active {
  width: 0px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.site-content {
  width: 100%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.site-content.menu-active {
  width: 100%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.main-wrapper.menu-active {
  display: block;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.product-category {
  margin-bottom: 40px;
}

.product-category .custom-container {
  padding-left: 50px;
  padding-right: 50px;
}

.product-category .custom-container h3 {
  text-align: center;
  color: rgba(0, 0, 0, 0.95);
  font-weight: 300;
  margin-bottom: 40px;
}

.product-category .custom-container .row-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-category .custom-container .row-wrapper .single-col {
  width: 32%;
  padding: 15px 10px 15px 15px;
  border: 1px solid #d4d4d4;
  margin: 0.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
}

.product-category .custom-container .row-wrapper .single-col p {
  font-size: 15px;
  line-height: 31px;
  color: #333;
  width: 80%;
  text-align: center;
}

.product-category .custom-container .row-wrapper .single-col .catg-img {
  width: 20%;
  text-align: center;
}

.product-category .custom-container .row-wrapper .single-col .catg-img img {
  width: 24px;
}

.hero-area {
  background-image: url("../../images/homepage/landingBannerTop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 325px;
  padding-top: 100px;
  margin-top: 55px;
}

.hero-area .hero-content h2 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.hero-area .hero-content .search-input-wrapper {
  width: 100%;
  padding: 0 10px;
}

.hero-area .hero-content .search-input-wrapper .search-input-div {
  position: relative;
}

.hero-area .hero-content .search-input-wrapper .search-input-div .search-input {
  padding: 0 0 0 12px;
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 3px;
  border: #fff;
  position: relative;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.hero-area .hero-content .search-input-wrapper .search-input-div .search-btn {
  border: 0;
  outline: 0;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.hero-area .hero-content .search-input-wrapper .search-input-div .search-btn i {
  font-size: 18px;
  color: #7a7a7a;
}

.hero-area .hero-content .hero-search-form {
  border-radius: 6px;
  border: 0.5px solid #c8c8c8;
  width: 800px;
  margin: 0 auto;
  margin-top: 10px;
}

.hero-area .hero-content .search-input {
  font-size: 17px !important;
  padding: 10px;
}

.hero-area .hero-content .search-btn {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.hero-bottom .custom-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero-bottom .custom-container .row-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-bottom .custom-container .row-wrapper .single-col {
  margin: 0 auto;
  max-width: 586px;
  width: 49.8%;
}

body {
  font-family: "Segoe UI", Helvetica, droid sans, Arial, lucida grande, tahoma, verdana, arial, sans-serif;
  color: #615e58;
}

p {
  margin-bottom: 0;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.custom-container {
  max-width: 1180px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */