@import "./util/index";
body {
  font-family: "Segoe UI", Helvetica, droid sans, Arial, lucida grande, tahoma,
    verdana, arial, sans-serif;
  color: #615e58;
}
p {
  margin-bottom: 0;
}
ul {
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.custom-container {
  max-width: 1180px;
  margin: 0 auto;
}
