$primary-hover: #eeb529;
@mixin reset-btn {
  border: 0;
  outline: 0;
}
@mixin transition-100 {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
@mixin flex-center-center {
  display: flex;
  justify-items: center;
  align-items: center;
}
