.main-wrapper {
  display: flex;
  gap: 1%;
}

@media (max-width: 1440px) {
  .main-wrapper {
    gap: 2%;
  }
}
@media (max-width: 1220px) {
  .main-wrapper {
    gap: 3%;
  }
}
@media (min-width: 1840px) {
  .main-wrapper {
    gap: 0.5%;
  }
}
.sideMenu-wrapper {
  width: 220px;
  position: relative;
  @include transition-300;
}
.sideMenu-wrapper.menu-active {
  width: 0px;
  @include transition-300;
}
.site-content {
  width: 100%;
  @include transition-300;
}
.site-content.menu-active {
  width: 100%;
  @include transition-300;
}
.main-wrapper.menu-active {
  display: block;
  @include transition-300;
}

// product category area style
.product-category {
  margin-bottom: 40px;
  .custom-container {
    padding-left: 50px;
    padding-right: 50px;
    h3 {
    }
    .row-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .single-col {
        width: 32%;
        padding: 15px 10px 15px 15px;
        border: 1px solid #d4d4d4;
        margin: 0.5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 3px;
        p {
          font-size: 15px;
          line-height: 31px;
          color: #333;
          width: 80%;
          text-align: center;
        }
        .catg-img {
          width: 20%;
          text-align: center;
          img {
            width: 24px;
          }
        }
      }
    }
  }
}

// how to order
.howTo-order {
  margin-bottom: 40px;
  .section-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 15px;
    .title {
    }
    .slider-wrapper {
      margin-top: 60px;
      .carousel-indicators {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 5px;
        .carousel-btn-wrapper {
          margin-left: 50%;
        }
      }
      .carousel-indicators [data-bs-target] {
        width: 10px;
        height: 10px;
        background-color: #ddd;
        border-radius: 100%;
        opacity: 1;
        margin-right: 2.5px;
        margin-left: 2.5px;
      }
      .carousel-indicators button.active {
        background-color: #ee4054;
      }
      .slider-next-prev-btn-wrapper {
        display: none;
      }
    }
  }
}
